@font-face { font-family: F1-Regular; src: url('Formula1-Bold.ttf'); }

body {
    font-family: 'F1-Regular', sans-serif;
    font-size: smaller;
    font-weight: lighter;
    margin: 70px 0 55px 0;
}

/* button default
---------------------------- */
.btn-default {
    color: #333;
    background-color: #f8f9fa;
    border-color: #ccc;
}

    .btn-default:focus {
        color: #333;
        background-color: #e6e6e6;
        border-color: #8c8c8c;
    }

    .btn-default:active,
    .btn-default:hover {
        color: #333;
        background-color: #e6e6e6;
        border-color: #adadad;
    }

.card2:hover{
    background-color: rgb(199, 39, 39);
    color: #f8f9fa ;
    transform: translate(0,-2%);
}
.title{
    color: rgb(255, 0, 0);
    font-size: 45px;
    float: left;
    text-shadow: 2px 2px 3px rgb(161, 161, 161);
    font-family: 'Ubuntu';
}

.card1:hover{
    transform: translate(0,-5%);
}
li.cor {
    border:2px solid black;
    margin-left: 9px;
    margin-right: 9px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

button.cor {
    color:black;
}

.nav-pills {

    font-size:15px
}

.input-field {
    padding-left:5px
}
.nav1{
    height: 40px;
}
.nav2{
    background-color: rgb(212, 0, 18);
}